[user]
  name = spade630
  email = spade6301@gmail.com
[color]
  ui = true
[alias]
  a = add .
  amend = commit --amend -C HEAD
  ba = branch
  c = commit
  ca = commit -a
  cm = commit -m
  co = checkout
  cob = checkout -b
  com = checkout master
  cam = commit --amend
  plom = pull origin master
  pop = stash pop
  ps = push
  pso = push origin
  psof = push -f origin
  rbi = rebase -i
  rbc = rebase --continue
  rba = reabse --abort
  s = status
  st = stash -u

  sync = !git checkout master \
    && git pull origin master \
    && git fetch -p origin \
    && git branch -d $(git branch --merged | grep -v master | grep -v '*')

  logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
[core]
  editor = subl -w
  ui = auto
[push]
  default = current
